[main]
added_namespace=http://vivo.dartmouth.edu/individual
destination_namespace=http://vivo.dartmouth.edu/vivo/individual
vivo_url=http://vivo.dartmouth.edu/vivo/
vivo_account=rodney.jacobson@gmail.com
vivo_pwd=
start_id=0

[mainloc]
added_namespace=http://vivo.dartmouth.edu/individual
destination_namespace=http://vivo.dartmouth.edu/individual
vivo_url=https://vivo.dartmouth.edu/
vivo_account=rodney.jacobson@gmail.com
vivo_pwd=
start_id=0

[people]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/faculty.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/people.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/people.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=per
uri_id_column=uid

[departments]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/departments.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/department.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/department.txt
added_uri=http://vivo.dartmouth.edu/individual/n1627
uri_prefix=org
uri_id_column=URI

[positions]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/positions.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/position.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/position.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[articles]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/articles.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/empty.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/articlesx.txt
added_uri=http://vivo.dartmouth.edu/individual/n5525
uri_prefix=art
uri_id_column=PMID

[authors]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/authors.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/empty.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/authorsx.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[exclude]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/exclude.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/exclude.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/exclude.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[pics]
csv_file=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/pics.csv
base_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/base/pics.txt
added_triples=/home/rdj/src/python/vivo_project/vivo_project/vivo_import/data/added/pics.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI
