[main]
added_namespace=http://vivo.dartmouth.edu/individual
destination_namespace=http://destination.dartmouth.edu/vivo/individual
vivo_url=http://localhost:8080/vivo/
vivo_account=vivo_root@school.edu
vivo_pwd=

[journals]
csv_file=testdata/journals.csv
base_triples=testdata/base/journals.txt
added_triples=testdata/added/journals.txt
added_uri=http://vivo.dartmouth.edu/vivo/individual/n2004
uri_prefix=pub
uri_id_column=PUBID

[people]
csv_file=testdata/faculty.csv
added_triples=testdata/added/people.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=
uri_id_column=uid

[departments]
csv_file=testdata/departments.csv
added_triples=testdata/added/department.txt
added_uri=http://vivo.dartmouth.edu/individual/n1627
uri_prefix=org
uri_id_column=URI

[positions]
csv_file=testdata/positions.csv
base_triples=testdata/base/position.txt
added_triples=testdata/added/position.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[articles]
csv_file=testdata/articles.csv
added_triples=testdata/added/articles.txt
added_uri=http://vivo.dartmouth.edu/individual/n5525
uri_prefix=art
uri_id_column=PMID

[authors]
csv_file=testdata/authors.csv
base_triples=testdata/base/authors.txt
added_triples=testdata/added/authors.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI
