[main]
added_namespace=http://vivo.dartmouth.edu/individual
destination_namespace=https://vivo.dartmouth.edu/vivo/individual
vivo_url=https://vivo.dartmouth.edu/vivo/
vivo_account=name@email.com
vivo_pwd=
start_id=0

[maindev]
added_namespace=http://vivo.dartmouth.edu/individual
destination_namespace=https://vivodev.dartmouth.edu/vivo/individual
vivo_url=https://vivodev.dartmouth.edu/vivo/
vivo_account=name@email.com
vivo_pwd=
start_id=0

[peop]
csv_file=../data/peop.csv
added_triples=../data/added/peopx.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=
uri_id_column=uid

[nonindexed]
csv_file=../data/peop.csv
added_triples=../data/added/peopnx.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=
uri_id_column=uid

[people]
csv_file=../data/faculty.csv
added_triples=../data/added/peoplex.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=
uri_id_column=uid

[netid]
csv_file=../data/netid.csv
added_triples=../data/added/peoplex.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=per
uri_id_column=uid

[xpeople]
csv_file=../data/faculty.csv
added_triples=../data/added/peoplexx.txt
added_uri=http://vivo.dartmouth.edu/individual/n6600
uri_prefix=per
uri_id_column=uid

[departments]
csv_file=../data/departments.csv
added_triples=../data/added/department.txt
added_uri=http://vivo.dartmouth.edu/individual/n1627
uri_prefix=org
uri_id_column=URI

[journals]
csv_file=../data/journals.csv
base_triples=../data/base/journals.txt
added_triples=../data/added/journals.txt
added_uri=http://vivo.dartmouth.edu/vivo/individual/n2004
uri_prefix=pub
uri_id_column=PUBID

[programs]
csv_file=../data/programs.csv
added_triples=../data/added/programs.txt
added_uri=http://vivo.dartmouth.edu/vivo/individual/n230894
uri_prefix=pub
uri_id_column=PUBID

[positions]
csv_file=../data/positions.csv
added_triples=../data/added/positionx.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[articles]
csv_file=../data/articles.csv
added_triples=../data/added/articles.txt
added_uri=http://vivo.dartmouth.edu/individual/n5525
uri_prefix=art
uri_id_column=PMID

[pubs]
added_namespace=http://vivo.dartmouth.edu/vivo/individual
csv_file=../data/pubs.csv
added_triples=../data/added/pubs.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[authors]
csv_file=../data/authors.csv
base_triples=../data/base/authors.txt
added_triples=../data/added/authors.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[membership]
csv_file=../data/membership.csv
added_triples=../data/added/membership.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[pics]
csv_file=../data/pics.csv
base_triples=../data/base/pics.txt
added_triples=../data/added/pics.txt
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=URI

[grants]
csv_file=../data/grants.csv
added_triples=../data/added/grants.trip
added_uri=http://vivo.dartmouth.edu/display/xxxxx
uri_prefix=-
uri_id_column=xURI

[web]
csv_file=../data/url.csv
added_triples=../data/added/urlx.txt
added_uri=--
uri_prefix=--
uri_id_column=--
